<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Instacrops</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" style="cursor: 'pointer'"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
<ul>
  <li *ngFor="let item of items; index as i">
    <h3>{{ item.name }}</h3>
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="open(content, item.id)"
    >
      Ver item
    </button>
  </li>
</ul>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Item ID: {{ selectedItem.id }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Click equis')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Nombre: {{ selectedItem.name }}</h5>
    <h5>ID de usuario: {{ selectedItem.user_id }}</h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Botón cerrar')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<hr />

<pre>{{ closeResult }}</pre>

<button (click)="logout()">log out</button>
